@model List<Game>
@{
    Game new_game = new Game { 
        Name = string.Empty
    };

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Information</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        th, td {
            padding: 8px 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

    <h1>Game Information</h1>
    <div>
        <form asp-action="Create_Game" asp-route-model ="@new_game" method="post">
            <input type="text" asp-for ="@new_game.Name" />
            <input type="text" asp-for="@new_game.GenreId" />
            <input type="text" asp-for="@new_game.Price" />
            <input type="text" asp-for="@new_game.ReleaseDate" />
            <button type="submit">Submit</button>
        </form>
    </div>
    <partial name="_Table" model="Model"/>
</body>
@section Scripts{
    <script>
        function deleteGame(id){
            $.ajax({
                url: `/game/${id}/delete`,
                type: 'DELETE',
                success: function(result) {
                // Do something with the result
                    alert("Game was deleted");
                    $("#table_games").replaceWith(result);
                }
            });
        }
    </script>
}
</html>
