@model List<Game>
@{
    Game new_game = new Game { 
        Name = string.Empty
    };

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Information</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        th, td {
            padding: 8px 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

    <h1>Game Information</h1>
    <div>
        <form asp-action="Create_Game" asp-route-model ="@new_game" method="post">
            <input type="text" asp-for ="@new_game.Name" />
            <input type="text" asp-for="@new_game.GenreId" />
            <input type="text" asp-for="@new_game.Price" />
            <input type="text" asp-for="@new_game.ReleaseDate" />
            <button type="submit">Submit</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Release Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach(Game g in Model){
                <tr>
                    <td>@g.Id</td>
                    <td>@g.Name</td>
                    <td>@(g.Genre?.Name ?? string.Empty)</td>
                    <td>@g.Price</td>
                    <td>@g.ReleaseDate.ToShortDateString()</td>
                    <td>
                        <form asp-action="Delete_Game" method="" asp-route-id="@g.Id" >
                            <button type="submit" class="btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
